/* James Reinlein 2015 */
/* Middle of nav-bar */
body {
  padding-top: 3px;
  background-image: url("grey.png");
}
.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
	
}
/* Cropped images in thumbnails */
.cropped-img {
  position:relative;
  width: 100%;
  height: 0;
  padding-bottom: 50% ; /* % of width, defines aspect ratio*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}
/* Avg rating in Restaurant view */
.rating {
  line-height: 2;
}
.footer {
  position: absolute;
  bottom: 2%;
  left: auto;
  right: auto;
  height: 60px;
}
.form-group-xs {
  margin-bottom: 15px;
  width:40%;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;
}
.form-group-xxs {
  margin-bottom: 15px;
  width:20%;
  margin-left: auto;
  margin-right: auto;
  min-width: 235px;
}